/*https://coolors.co/004e64-adefff-c2ffdd-78e37f-1e8576
/*font-family: 'Candal', sans-serif;
font-family: 'Sansita', sans-serif;
font-family: 'Tenor Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Candal&family=Sansita&family=Tenor+Sans&display=swap');
/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css2?family=Candal&family=Sansita&family=Tenor+Sans&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #78e37f   ;
  --secondary-color: #1e8576 ;
  --accent1-color: #c2ffdd;
  --accent2-color: #adefff;

  /* change the values below to your chosen font(s) */
  --heading-font: 'Candal', sans-serif;
  --paragraph-font: 'Sansita', sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #1e8576;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #004E64; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #1e8576  ;
  --nav-link-color: #adefff;
  --nav-background-color: #004E64;
  --nav-hover-link-color: #c2ffdd;
  --nav-hover-background-color: #1e8576;
}

/* Slideshow */
* {
  box-sizing: border-box;
}
/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  width: 50%;
  margin: auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* Container for image text */
.caption-container {
  text-align: center;
  background-color: var(--nav-background-color);
  color: white;
  max-height: 4em;
  margin-top:-2em;
  margin-bottom:-1em;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}
/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}
.active,
.demo:hover {
  opacity: 1;
}
/* Bordered form */
/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid var(--headline-color-on-white);
  box-sizing: border-box;
}
/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 5px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
/* End slideshow*/


/* Login- Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

span.psw {
  float: right;
  padding-top: 16px;
}
.login {
  background-color:var(--accent1-color);
  margin: 1em 10em;
  padding: 1em;
  border: 4px solid var(--nav-hover-background-color);
  box-shadow: 3px 3px 10px 3px #88b489;
}
form button {
  background-color: var(--paragraph-background-color);
  font-family: var(--heading-font);
  font-size: 1em;
}
/*end login*/


body {
  background-color:var(--accent2-color);
  font-family: 'Candal', sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
header {
  display: grid;
  grid-template-columns: 150px auto;
  background-color: var(--nav-background-color);
}
p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}
.logo {
  width: 90px;
}
#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}
nav {
  display: flex;
  justify-content: space-around;
  font-family: var(--heading-font);
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

nav a {
  text-align: center;
  color:#c1dbb3;
  text-decoration: none;
  padding: 35px;
}
footer {
  background-color: var(--nav-background-color);
  padding: 15px 30px;
  margin-top: 3em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--heading-font);
  width: 100%;
  font-size: 18px;
}
footer h3 {
  color:#7ebc89;
}
footer a {
  color: var(--accent2-color);
  text-decoration: none;
}
footer a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
  text-decoration: underline;
}
#world-img {
  width: 100%;
}
#world {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100px; 
}
#world-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}
#world-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
}
.start {
  background-color: var(--nav-background-color);
  color: var(--accent2-color);
  text-decoration: none;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
  text-align:center;
}
.start:hover {
  background-color: var(--accent1-color);
  color:var(--headline-color-on-white);
}
.destinations {
  background-color:var(--nav-background-color);
  color:var(--nav-link-color);
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}
.destinations:hover {
  background-color: var(--nav-hover-background-color);
  color:var(--nav-hover-link-color);
}
.questions img {
  width: 100%;
  padding: .5em;
}
.questions1, .questions3 {
  display:grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 4em 8em;
  background-color: var(--nav-background-color);
  color: var(--accent2-color);
  margin: 2em;
  box-shadow: 3px 3px 10px 3px #576f81;
}
.questions2 {
  display:grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 4em 8em;
  background-color: var(--nav-background-color);
  color: var(--accent2-color);
  margin: 2em;
  box-shadow: 3px 3px 10px 3px #576f81;
}
.region h2, .activities h2, .people h2 {
  padding-left: 1em;
}
.region p, .activities p, .people p {
  
} 
.check1, .check2, .check3 {
  margin-left: 1em;
  margin-top: 2.5em;
}
.home-title {
  margin-top: 20px;
}
#world-msg h1 {
  text-align: center;
  font-family: var(--heading-font);
  color: var(--nav-background-color)
} 
#world-msg h4 {
  text-align: center;
  font-family: var(--heading-font);
  color: black;
}
.button-box {
  text-align: center;
}
.trip {
  background-color: var(--paragraph-background-color);
  margin: 2em;
  color: var(--accent1-color);
  box-shadow: 3px 3px 10px 3px #578166;
}
.msg h2 {
  text-align: center;
  color: var(--nav-hover-background-color);
}
.airplane {
  width: 700px;
  box-shadow: 3px 3px 10px 3px #42454e;
}
.box {
  background-color: var(--headline-color-on-white);
  width: 550px;
  text-align: center;
  margin: 0 auto;
  color: var(--accent2-color);
  box-shadow: 3px 3px 10px 3px #42454e;
  height:200px;
}
.planebox {
  background-color: var(--nav-background-color);
  padding: 2em;
  text-align: center;
}
.intro {
  text-align: center;
  font-family: var(--heading-font);
  font-size: 30px;
  color: var(--headline-color-on-white);
}

/*Background*/
.scroll {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* Full height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  font-size: 80px;
  border: 10px solid #f1f1f1;
  position: fixed; /* Stay fixed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 500px;
  padding: 20px;
  text-align: center;
}
.options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5em;
  grid-gap: 2em;
}
.hawaii, .scotland, .ireland, .alaska, .pandora, .losangeles {
  background-color: var(--accent1-color);
  border: solid 2px var(--headline-color-on-white);
  padding: .5em;
  color: var(--nav-background-color);
  box-shadow: 3px 3px 10px 3px #578166;
}
.options p {
  font-size: 17px;
}
.options h1 {
  text-align: center;
  margin-top: -1px;
  margin-bottom: -1px;
}
.options .button-box {
  padding: 1em;
}




/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
/* End Login */